@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
.prg1{
    display: block;
    background-color: white;
    color: black;
    text-align: justify;
    margin-left: 20px;
    margin-top: 40px;
}
.prg2{
    display: block;
    height: 35vh;
    background: black url(imagens/background001.jpg) center center no-repeat;
    
}
.prg21{
    display: block;
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    text-align: justify;
    margin-top: 40px;
    margin-left: 20px;
    width: 300px;
    padding-top: 40px;
}